body {
  height: 100%;
  background-color: #4791D2;
}

body {
  color: #fff;
  text-align: center;
}
.description{
  text-align:left;
  margin-top: 100px;
}
.format{
margin-top:50px;    
}

.glyphicon-link {
  font-size: 30px;
}